.last-updated {
    margin-top: 40px;
    margin-bottom: 30px;
}

.navbar {
	height: 150px;
	margin-bottom: 0px;
	background-color: brown;
	color: white;
}

.header-wrapper {
	height: 150px;
	margin-top: 100px !important;
}

.navbar-nav>li>a,
.navbar-nav>li>a:focus,
.navbar-nav>li>a:hover{
	color: white !important;
	background-color: transparent;
	box-shadow: 0 -3px 0px yellow;
	font-size: 20px;
}

.container {
	width: 100%;
	padding: 0px;
	margin:0px;
}

.content {
	padding:0px;
}
.body {
	display: block;
}
.body-title {
	width: 80%;
	margin: auto;
	text-align: center;
}
.body-title h5{
	float: left;
    width: 33%;
    height: 1px;
    background: #D1D1D1;
    margin:30px 0px 0px 0px;
}
.body-title h2 {
	float: left;
    width: 34%;
    text-align: center;
}
/*Homepage Styling*/

.content_wrapper {
    background-color: #f8f8f8;
    position: relative;
    width: 100%;
    padding: 0px;
}

.carousel-inner {
	height: 500px;
}

.item img {
	width: 100%;
	height: auto;
}

.body-one {
	margin-top: 30px;
	height: auto;
}
.body-two {
	margin-top: 60px;
}

@media (max-width: 768px) {
    .body_content {
        margin-left: 0;
        margin-right: 0;
    }
}

.dashboard {
    float: none;
    display: block;
    margin-left: 0px;
    margin-right: auto;
    background-color:rgba(0, 0, 0, 0.2);
    position: relative;
}

@media (max-width: 1200px){
    .dashboard {
        width: auto;
    }
}


.content-title h2 {
    font-family: 'Calibri Bold', 'Calibri Regular', 'Calibri',sans-serif;
    font-weight: 700;
    font-size: 35px;
    font-style: normal;
    margin-top: 0px;
}

.content-item {
    display: block;
    z-index: 1;
    box-shadow: 2px 3px 3px #ccc;
    background: white;
    border: 1px solid #d5d5d5;
    padding: 19px 18px 25px;
    color: #7e7e7e;
    border-top-color: brown;
    margin-top: 30px;
    margin-right: 5px;
    border-top-width: 5px;
    color: black;
    text-align: center;
}


@media(max-width: 992px) {
    .image-grid {
        height: auto;
    }
}

.thumbnail img {
    width: 100%;
    height: auto;
    transition: opacity 600ms;
    -webkit-transition: opacity 600ms;
}

.thumbnail:hover img{
    opacity: 0.6;
}

.product_icon {
    position: absolute;
    top:22px;
    padding-left: 15px;
    padding-right: 15px;
    color: #E5E5E5;
    text-align: center;
}

.product_icon span {
    margin: 0 auto;
}

.thumbnail {
    border: 0;
    position: relative;
    padding: 0px;
    cursor: pointer;
}

.thumbnail:hover .overlay {
    opacity: 0.7;
    visibility: visible;
}

.overlay {
    opacity: 0;
    visibility: 0;
    position: absolute;
    background-color: #333;
    font-size: 12px;
    transition: opacity 600ms, visibility 600ms;
    -webkit-transition: opacity 600ms, visibility 600ms;
    color: #ffffff;
    width: 100%;
    bottom: 0;
    padding: 20px 5px 20px 5px;
    text-align: center;
    font-size: 14px;
}

/*End Homepage Styling*/

html {
    position: relative;
    min-height: 100%;
    min-width: 100%;
}

body {
    /* Margin bottom by footer height */
    min-height: 100%;
    width: 100%;
    margin-bottom: 90px;
    position: absolute;
}

.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 90px;
    background-color: white;
    padding-top: 10px;
}
