.last-updated {
    margin-top: 40px;
    margin-bottom: 30px;
}
.container {
	width: 100%;
	padding: 0px;
	margin:0px;
}

.slidebar{
	margin-top: 100px;
}

.content {
	padding:0px;
}
.body {
	display: block;
}
.body-title {
	width: 80%;
	margin: auto;
	text-align: center;
}
.body-title h5{
	float: left;
    width: 33%;
    height: 1px;
    background: #D1D1D1;
    margin:30px 0px 0px 0px;
}
.body-title h2 {
	float: left;
    width: 34%;
    text-align: center;
}
/*Homepage Styling*/

.content_wrapper {
    background-color: #f8f8f8;
    position: relative;
    width: 100%;
    padding: 0px;
}

.carousel-inner {
	height: 500px;
}

.item img {
	width: 100%;
	height: auto;
}

.body {
	text-align: center;
}

.body-one {
	margin-top: 20px;
	height: auto;
	display: inline-block;
	float: none;
	height: 200px;
}

.body-two {
	height: auto;
	display: inline-block;
	float: none;
}

@media (max-width: 1200px){
    .dashboard {
        width: auto;
    }
}


.content-title h2 {
    font-family: 'Calibri Bold', 'Calibri Regular', 'Calibri',sans-serif;
    font-weight: 700;
    font-size: 35px;
    font-style: normal;
    margin-top: 0px;
}

.content-item {
    display: inline-block;
    float: none;
    z-index: 1;
    box-shadow: 2px 3px 3px #ccc;
    background: white;
    border: 1px solid #d5d5d5;
    padding: 10px 10px 10px;
    color: #7e7e7e;
    border-top-color: brown;
    margin-right: 5px;
    border-top-width: 5px;
    color: black;
    text-align: center;
}

.sidebar-item {
	margin-top: 100px;
	width: 80%;
    display: inline-block;
    float: none;
    z-index: 1;
    border: 1px solid #d5d5d5;
    padding: 10px 10px 10px;
    margin-right: 5px;
    text-align: center;
}

.profile_pic {
	float: left;
	margin-top:10px;
	margin-left:30px;
}

/*End Homepage Styling*/

html {
    position: relative;
    min-height: 100%;
    min-width: 100%;
}

body {
    /* Margin bottom by footer height */
    min-height: 100%;
    width: 100%;
    margin-bottom: 90px;
    position: absolute;
}

.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 90px;
    background-color: white;
    padding-top: 10px;
}



/*Timeline Styling*/

.timeline {
  list-style: none;
  padding: 20px 0 20px;
  position: relative;
}

.timeline:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 3px;
  background-color: #eeeeee;
  left: 50%;
  margin-left: -1.5px;
}

.timeline > li {
  margin-bottom: 20px;
  position: relative;
}

.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}

.timeline > li:after {
  clear: both;
}

.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}

.timeline > li:after {
  clear: both;
}

.timeline > li > .timeline-panel {
  width: 46%;
  float: left;
  border: 1px solid #d4d4d4;
  border-radius: 2px;
  padding: 20px;
  position: relative;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}

.timeline > li > .timeline-panel:before {
  position: absolute;
  top: 26px;
  right: -15px;
  display: inline-block;
  border-top: 15px solid transparent;
  border-left: 15px solid #ccc;
  border-right: 0 solid #ccc;
  border-bottom: 15px solid transparent;
  content: " ";
}

.timeline > li > .timeline-panel:after {
  position: absolute;
  top: 27px;
  right: -14px;
  display: inline-block;
  border-top: 14px solid transparent;
  border-left: 14px solid #fff;
  border-right: 0 solid #fff;
  border-bottom: 14px solid transparent;
  content: " ";
}

.timeline > li > .timeline-badge {
  color: #fff;
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 1.4em;
  text-align: center;
  position: absolute;
  top: 16px;
  left: 50%;
  margin-left: -25px;
  background-color: #999999;
  z-index: 100;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
}

.timeline > li.timeline-inverted > .timeline-panel {
  float: right;
}

.timeline > li.timeline-inverted > .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}

.timeline > li.timeline-inverted > .timeline-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}

.timeline-title {
  margin-top: 0;
  color: inherit;
}

.timeline-body > p,
.timeline-body > ul {
  margin-bottom: 0;
}

.timeline-body > p + p {
  margin-top: 5px;
}

/*sidebar styling*/

  nav.sidebar, .main{
    -webkit-transition: margin 200ms ease-out;
    -moz-transition: margin 200ms ease-out;
    -o-transition: margin 200ms ease-out;
    transition: margin 200ms ease-out;
  }

  .main{
    padding: 10px 10px 0 10px;
  }

 @media (min-width: 765px) {

    .main{
      position: absolute;
      width: calc(100% - 40px); 
      margin-left: 40px;
      float: right;
    }

    nav.sidebar:hover + .main{
      margin-left: 200px;
    }

    nav.sidebar.navbar.sidebar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
      margin-left: 0px;
    }

    nav.sidebar .navbar-brand, nav.sidebar .navbar-header{
      text-align: center;
      width: 100%;
      margin-left: 0px;
    }
    
    nav.sidebar a{
      padding-right: 13px;
    }

    nav.sidebar .navbar-nav > li:first-child{
      border-top: 1px #e5e5e5 solid;
    }

    nav.sidebar .navbar-nav > li{
      border-bottom: 1px #e5e5e5 solid;
    }

    nav.sidebar .navbar-nav .open .dropdown-menu {
      position: static;
      float: none;
      width: auto;
      margin-top: 0;
      background-color: transparent;
      border: 0;
      -webkit-box-shadow: none;
      box-shadow: none;
    }

    nav.sidebar .navbar-collapse, nav.sidebar .container-fluid{
      padding: 0 0px 0 0px;
    }

    .navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
      color: #777;
    }

    nav.sidebar{
      width: 200px;
      height: 100%;
      margin-left: -160px;
      float: left;
      margin-bottom: 0px;
    }

    nav.sidebar li {
      width: 100%;
    }

    nav.sidebar:hover{
      margin-left: 0px;
    }

    .forAnimate{
      opacity: 0;
    }
  }
   
  @media (min-width: 1330px) {

    .main{
      width: calc(100% - 200px);
      margin-left: 200px;
    }

    nav.sidebar{
      margin-left: 0px;
      float: left;
    }

    nav.sidebar .forAnimate{
      opacity: 1;
    }
  }

  nav.sidebar .navbar-nav .open .dropdown-menu>li>a:hover, nav.sidebar .navbar-nav .open .dropdown-menu>li>a:focus {
    color: #CCC;
    background-color: transparent;
  }

  nav:hover .forAnimate{
    opacity: 1;
  }
  section{
    padding-left: 15px;
  }